body {
    margin: 0;
    padding: 0;
    height: 10%;
    width: 90%;
    background-image: url(../img/a.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0%;
}

.full {
    background-size: cover;
    display: table;
    margin: auto;
    top: 0;
}

.full-iner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.content {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.content h1 {
    font-family: 'Helvetica';
    font-size: 300%;
    color: #73a017;
}

.content h2 {
    font-family: 'Helvetica';
    font-size: 200%;
    color: #73a017;
}

h3 {
    border-radius: 9px;
    text-decoration: none;
    color: #d60000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border: 3px solid;
    padding: 5px;
    width: 108px;
    background-size: cover;
}

ul {
    color: #d60000;
    width: 500px;
    font-size: 150%;

}

h4 {
    color: #d60000;
    font-size: 30px;
    text-align: center;
    border: 3px solid;
    border-radius: 9px;
    padding: 7px;
    width: max-content;
    margin-left: 37%;
    margin-right: auto;
}

.div {
    border: 3px solid;
    font-weight: bold;
    vertical-align: middle;

}

form {
    border: 5px solid;
    border-radius: 9px;
    padding: 5px;
    color: #d60000;
    margin-left: 90%;
    display: inline-block;
    position: absolute;
    top: 560%;
    left: 7%;
}

a {
    border: 5px solid;
    text-decoration: none;
    border-radius: 9px;
    padding: 5px;
    color: #d60000;
    margin-left: 90%;
    display: inline-block;
    position: absolute;
    top: 7%;
    left: 13%;
}